matplotlib==3.7.2
inflection
numpy==1.25.0
pandas==2.0.3
openai==0.27.8
pytest==7.4.0
scipy==1.10.1
simpy==4.0.2
tqdm==4.65.0
pyarrow==14.0.1
tyro==0.8.14
tensorboard==2.15.1
docutils==0.17.1
wandb==0.15.12
rich
